/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

:root {
  --main-text: #757575;
  --white-text: #ffffff;
  --secondary-text: #212121;
  --accent: #2196f3;
  --grey-accent: #f5f4fa;
  --section-typ-padding: 94px;
  --duration: cubic-bezier(0.4, 0, 0.2, 1);
  --speed: 250ms;
}

.visually-hidden,
.values__title--visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.services__title,
.team__title,
.clients__title {
  margin-bottom: 50px;
  color: var(--secondary-text);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.join-social__title,
.subscription__title {
  display: block;
  margin-bottom: 20px;
  color: var(--white-text);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.member-social__link, .join-social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.page {
  background-color: #ffffff;
  color: var(--main-text);
  font-family: Roboto, Helvetica Neue, sans-serif;
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding-top: var(--section-typ-padding);
  padding-bottom: var(--section-typ-padding);
}

.hero__btn {
  padding: 10px 32px 10px 32px;
  min-width: 200px;
  background-color: var(--accent);
  color: var(--white-text);
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  -webkit-transition: background-color var(--speed) var(--duration), -webkit-box-shadow var(--speed) var(--duration);
  transition: background-color var(--speed) var(--duration), -webkit-box-shadow var(--speed) var(--duration);
  transition: background-color var(--speed) var(--duration), box-shadow var(--speed) var(--duration);
  transition: background-color var(--speed) var(--duration), box-shadow var(--speed) var(--duration), -webkit-box-shadow var(--speed) var(--duration);
}
.hero__btn:hover, .hero__btn:focus {
  background-color: #188ce8;
}

.filter {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.filter__btn {
  padding: 6px 22px 6px 22px;
  color: var(--secondary-text);
  background-color: var(--grey-accent);
  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: none;
  -webkit-transition: background-color var(--speed) var(--duration), color var(--speed) var(--duration), -webkit-box-shadow var(--speed) var(--duration);
  transition: background-color var(--speed) var(--duration), color var(--speed) var(--duration), -webkit-box-shadow var(--speed) var(--duration);
  transition: background-color var(--speed) var(--duration), color var(--speed) var(--duration), box-shadow var(--speed) var(--duration);
  transition: background-color var(--speed) var(--duration), color var(--speed) var(--duration), box-shadow var(--speed) var(--duration), -webkit-box-shadow var(--speed) var(--duration);
}
.filter__btn:hover, .filter__btn:focus, .filter__btn--active {
  color: var(--white-text);
  background-color: var(--accent);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.subscription__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 200px;
  height: 50px;
  background: var(--accent);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88px;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-text);
  cursor: pointer;
  -webkit-transition: background-color var(--speed) var(--duration), -webkit-box-shadow var(--speed) var(--duration);
  transition: background-color var(--speed) var(--duration), -webkit-box-shadow var(--speed) var(--duration);
  transition: background-color var(--speed) var(--duration), box-shadow var(--speed) var(--duration);
  transition: background-color var(--speed) var(--duration), box-shadow var(--speed) var(--duration), -webkit-box-shadow var(--speed) var(--duration);
}
.subscription__btn:hover, .subscription__btn:focus {
  background-color: #188ce8;
  /* need to confirm. not specified in the instr */
}

.subscription__icon {
  fill: var(--white-text);
  margin-left: 10px;
}

.close-btn {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  fill: #000000;
  background-color: var(--white-text);
  cursor: pointer;
  -webkit-transition: fill var(--speed) var(--duration), -webkit-box-shadow var(--speed) var(--duration);
  transition: fill var(--speed) var(--duration), -webkit-box-shadow var(--speed) var(--duration);
  transition: fill var(--speed) var(--duration), box-shadow var(--speed) var(--duration);
  transition: fill var(--speed) var(--duration), box-shadow var(--speed) var(--duration), -webkit-box-shadow var(--speed) var(--duration);
}
.close-btn:hover, .close-btn:focus {
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  fill: var(--accent);
}

.modal__btn {
  width: 200px;
  height: 50px;
  left: 700px;
  top: 712px;
  display: block;
  -ms-flex-item-align: center;
      align-self: center;
  background-color: var(--accent);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white-text);
  -webkit-transition: background-color var(--speed) var(--duration);
  transition: background-color var(--speed) var(--duration);
}
.modal__btn:hover, .modal__btn:focus {
  background-color: #188ce8;
}

.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--main-text);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: color var(--speed) var(--duration);
  transition: color var(--speed) var(--duration);
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--accent);
}

.contacts__icon {
  fill: currentColor;
  margin-right: 10px;
}

.contacts .contacts__item + .contacts__item {
  margin-left: 50px;
}

.footer__connect {
  margin-right: auto;
}

.footer__contacts {
  margin-top: 9px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__contacts .contacts__item--footer + .contacts__item--footer {
  margin-left: 0;
  margin-top: 9px;
}

.contacts__link--footer {
  padding: 0;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  -webkit-transition: color var(--speed) var(--duration);
  transition: color var(--speed) var(--duration);
}
.contacts__link--footer:hover, .contacts__link--footer:focus {
  color: var(--accent);
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.address {
  margin-top: 20px;
}

.addresss__text {
  color: var(--white-text);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  display: inline-block;
  color: var(--accent);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo__text--black {
  display: inline-block;
  color: var(--secondary-text);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo__text--white {
  display: inline-block;
  color: var(--white-text);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity var(--speed) var(--duration);
  transition: opacity var(--speed) var(--duration);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.9);
          transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  min-height: 581px;
  padding: 40px;
  background-color: var(--white-text);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform var(--speed) var(--duration);
  transition: -webkit-transform var(--speed) var(--duration);
  transition: transform var(--speed) var(--duration);
  transition: transform var(--speed) var(--duration), -webkit-transform var(--speed) var(--duration);
}

.modal__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal__title {
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text);
}

.modal__field:not(:last-child) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}

.modal__label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--main-text);
}

.modal__input {
  padding-left: 35px;
  /* need to confirm this padding - it is not specified in the instructions */
  padding-right: 15px;
  height: 40px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  color: var(--secondary-text);
  /* need to confirm this padding - it is not specified in the instructions */
  outline: none;
  -webkit-transition: border-color var(--speed) var(--duration);
  transition: border-color var(--speed) var(--duration);
}
.modal__input:focus {
  border: 1px solid var(--accent);
}
.modal__input:focus + .modal__icon {
  fill: var(--accent);
}
.modal__input.textarea {
  height: 120px;
  padding: 12px;
  resize: none;
}

.modal__block {
  position: relative;
  margin-top: 4px;
}

.modal__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: fill var(--speed) var(--duration);
  transition: fill var(--speed) var(--duration);
}

.modal__field .textarea::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__field .textarea::-moz-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__field .textarea:-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__field .textarea::-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__field .textarea::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__agree {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: 12px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.modal__agree-label {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal__agree-link .link {
  color: var(--accent);
  text-decoration: underline;
  -webkit-transition: -webkit-text-decoration var(--speed) var(--duration);
  transition: -webkit-text-decoration var(--speed) var(--duration);
  transition: text-decoration var(--speed) var(--duration);
  transition: text-decoration var(--speed) var(--duration), -webkit-text-decoration var(--speed) var(--duration);
}
.modal__agree-link .link:hover {
  -webkit-text-decoration-color: transparent;
          text-decoration-color: transparent;
}

.modal__icon-frame {
  margin-right: 7px;
  opacity: 1;
  -webkit-transition: fill var(--speed) var(--duration), opacity var(--speed) var(--duration), -webkit-box-shadow var(--speed) var(--duration);
  transition: fill var(--speed) var(--duration), opacity var(--speed) var(--duration), -webkit-box-shadow var(--speed) var(--duration);
  transition: fill var(--speed) var(--duration), box-shadow var(--speed) var(--duration), opacity var(--speed) var(--duration);
  transition: fill var(--speed) var(--duration), box-shadow var(--speed) var(--duration), opacity var(--speed) var(--duration), -webkit-box-shadow var(--speed) var(--duration);
}
.modal__checkbox:hover + .modal__icon-frame {
  -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.15);
}
.modal__checkbox:focus + .modal__icon-frame {
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  fill: var(--accent);
}
.modal__checkbox:checked + .modal__icon-frame {
  opacity: 0;
}

.modal__icon-checked {
  position: absolute;
  margin-right: 7px;
  opacity: 0;
  -webkit-transition: opacity var(--speed) var(--duration);
  transition: opacity var(--speed) var(--duration);
}
.modal__checkbox:checked ~ .modal__icon-checked {
  opacity: 1;
}

.header__navigation {
  margin-left: 93px;
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation__item:not(:last-child) {
  position: relative;
  margin-right: 50px;
}

.navigation__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--secondary-text);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: color var(--speed) var(--duration);
  transition: color var(--speed) var(--duration);
}
.navigation__link:hover, .navigation__link:focus {
  color: var(--accent);
}
.navigation__link--current {
  color: var(--accent);
}
.navigation__link--current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  border-radius: 2px;
  height: 4px;
  background: var(--accent);
}

.join-social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.join-social__item {
  margin-right: 10px;
}
.join-social__item:last-child {
  margin-right: 0;
}

.join-social__link {
  color: var(--white-text);
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color var(--speed) var(--duration);
  transition: background-color var(--speed) var(--duration);
}
.join-social__link:hover, .join-social__link:focus {
  background-color: var(--accent);
  color: var(--white-text);
}

.join-social__icon {
  fill: currentColor;
}

.member-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.member-social__item {
  margin-right: 10px;
}
.member-social__item:last-child {
  margin-right: 0;
}

.member-social__link {
  color: #afb1b8;
  -webkit-transition: background-color var(--speed) var(--duration), color var(--speed) var(--duration);
  transition: background-color var(--speed) var(--duration), color var(--speed) var(--duration);
}
.member-social__link:hover, .member-social__link:focus {
  background-color: var(--accent);
  color: var(--white-text);
}

.member-social__icon {
  fill: currentColor;
}

.footer__subscription {
  margin-left: 93px;
}

.subscription__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscription__field {
  padding-left: 16px;
  margin-right: 12px;
  width: 358px;
  height: 50px;
  left: 815px;
  top: 2787px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  color: var(--white-text);
  /* need to confirm this color - not specified in the instruction */
  border-radius: 4px;
  background-color: transparent;
  outline: none;
  -webkit-transition: border-color var(--speed) var(--duration);
  transition: border-color var(--speed) var(--duration);
}
.subscription__field:focus {
  border-color: var(--accent);
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/background/hero-bcg.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background/hero-bcg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero .container {
  width: 696px;
}

.hero__title {
  margin-bottom: 30px;
  color: var(--white-text);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.values__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.values__item {
  width: calc((100% - 90px) / 4);
}
.values__item:not(:last-child) {
  margin-right: 30px;
}

.values__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 25px;
  margin-bottom: 30px;
  background: var(--grey-accent);
  border-radius: 4px;
  padding-top: 25px;
}

.values__headline {
  margin-bottom: 10px;
  color: var(--secondary-text);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.values__description {
  color: var(--main-text);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.services {
  padding-top: 0;
}

.services__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services__item {
  width: calc((100% - 60px) / 3);
}
.services__item:not(:last-child) {
  margin-right: 30px;
}

.services__thumb {
  position: relative;
}

.services__name {
  position: absolute;
  bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text);
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: var(--grey-accent);
}

.members {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.members__item {
  width: calc((100% - 90px) / 4);
  background-color: var(--white-text);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.members__item:not(:last-child) {
  margin-right: 30px;
}

.members__item .members__info {
  padding-top: 30px;
  padding-bottom: 30px;
}

.members__name {
  margin-bottom: 10px;
  color: var(--secondary-text);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.members__position {
  margin-bottom: 16px;
  color: var(--main-text);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.clients__item {
  height: 92px;
  margin-right: 30px;
  width: calc((100% - 150px) / 6);
}
.clients__item:last-child {
  margin-right: 0;
}

.client__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  -webkit-transition: border var(--speed) var(--duration);
  transition: border var(--speed) var(--duration);
}
.client__link:hover, .client__link:focus {
  border: 1px solid var(--accent);
}

.clients__logo {
  fill: #afb1b8;
  -webkit-transition: fill var(--speed) var(--duration);
  transition: fill var(--speed) var(--duration);
}
.client__link:hover .clients__logo, .client__link:focus .clients__logo {
  fill: var(--accent);
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.projects__item {
  margin-right: 30px;
  margin-bottom: 30px;
  width: calc((100% - 60px) / 3);
}
.projects__item:nth-child(3n) {
  margin-right: 0;
}
.projects__item:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.projects__thumb {
  position: relative;
  overflow: hidden;
}

.projects__overlay {
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  height: 100%;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--white-text);
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform var(--speed) var(--duration);
  transition: -webkit-transform var(--speed) var(--duration);
  transition: transform var(--speed) var(--duration);
  transition: transform var(--speed) var(--duration), -webkit-transform var(--speed) var(--duration);
}
.projects__item .projects__link:hover .projects__overlay, .projects__item .projects__link:focus .projects__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.projects__item .projects__info {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.projects__name {
  padding-bottom: 4px;
  color: var(--secondary-text);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.projects__service {
  color: var(--main-text);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.projects__link {
  display: block;
  -webkit-transition: -webkit-box-shadow var(--speed) var(--duration);
  transition: -webkit-box-shadow var(--speed) var(--duration);
  transition: box-shadow var(--speed) var(--duration);
  transition: box-shadow var(--speed) var(--duration), -webkit-box-shadow var(--speed) var(--duration);
}
.projects__link:hover, .projects__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}/*# sourceMappingURL=main.css.map */