@import './base/normalize';

@import './utils/vars';
@import './utils/hidden';
@import './utils/mixins';
@import './utils/placeholders';

@import './base/common';

@import './components/buttons';
@import './components/contacts';
@import './components/footer';
@import './components/header';
@import './components/logo';
@import './components/modal';
@import './components/navigation';
@import './components/social-join';
@import './components/social-member';
@import './components/subscription';
@import './components/titles';

@import './layout/hero';
@import './layout/values';
@import './layout/services';
@import './layout/team';
@import './layout/clients';
@import './layout/portfolio';
