.clients__list {
  display: flex;
}

.clients__item {
  height: 92px;
  margin-right: 30px;
  width: calc((100% - 150px) / 6);

  &:last-child {
    margin-right: 0;
  }
}

.client__link {
  @include flexCenter;

  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 100%;
  height: 100%;

  transition: border var(--speed) var(--duration);

  &:hover,
  &:focus {
    border: 1px solid var(--accent);
  }
}

.clients__logo {
  fill: #afb1b8;
  transition: fill var(--speed) var(--duration);

  .client__link:hover &,
  .client__link:focus & {
    fill: var(--accent);
  }
}
