.projects {
  display: flex;
  flex-wrap: wrap;
}

.projects__item {
  margin-right: 30px;
  margin-bottom: 30px;
  width: calc((100% - 60px) / 3);

  &:nth-child(3n) {
    margin-right: 0;
  }

  &:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

.projects__thumb {
  position: relative;
  overflow: hidden;
}

.projects__overlay {
  position: absolute;
  top: 0;
  @include flexCenter(flex, center, null);
  padding-left: 24px;
  padding-right: 24px;
  height: 100%;

  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--white-text);
  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: transform var(--speed) var(--duration);

  .projects__item .projects__link:hover &,
  .projects__item .projects__link:focus & {
    transform: translateY(0);
  }
}

.projects__item .projects__info {
  padding: 20px 24px;

  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.projects__name {
  padding-bottom: 4px;

  color: var(--secondary-text);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.projects__service {
  color: var(--main-text);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.projects__link {
  display: block;

  transition: box-shadow var(--speed) var(--duration);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
