.team {
  background-color: var(--grey-accent);
}

.members {
  display: flex;
}

.members__item {
  width: calc((100% - 90px) / 4);
  background-color: var(--white-text);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.members__item .members__info {
  padding-top: 30px;
  padding-bottom: 30px;
}

.members__name {
  margin-bottom: 10px;

  color: var(--secondary-text);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.members__position {
  margin-bottom: 16px;

  color: var(--main-text);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
