.values__list {
  display: flex;
}

.values__item {
  width: calc((100% - 90px) / 4);

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.values__block {
  display: flex;
  justify-content: center;
  padding-bottom: 25px;
  margin-bottom: 30px;

  background: var(--grey-accent);
  border-radius: 4px;
  padding-top: 25px;
}

.values__headline {
  margin-bottom: 10px;

  color: var(--secondary-text);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.values__description {
  color: var(--main-text);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
