.hero__btn {
  padding: 10px 32px 10px 32px;
  min-width: 200px;

  background-color: var(--accent);
  color: var(--white-text);
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  transition: background-color var(--speed) var(--duration), box-shadow var(--speed) var(--duration);

  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}

.filter {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.filter__btn {
  padding: 6px 22px 6px 22px;

  color: var(--secondary-text);
  background-color: var(--grey-accent);
  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: none;

  transition: background-color var(--speed) var(--duration), color var(--speed) var(--duration), box-shadow var(--speed) var(--duration);

  &:hover,
  &:focus,
  &--active {
    color: var(--white-text);
    background-color: var(--accent);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.subscription__btn {
  @include flexCenter;
  width: 200px;
  height: 50px;

  background: var(--accent);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88px;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-text);
  cursor: pointer;

  transition: background-color var(--speed) var(--duration), box-shadow var(--speed) var(--duration);

  &:hover,
  &:focus {
    background-color: #188ce8; /* need to confirm. not specified in the instr */
  }
}

.subscription__icon {
  fill: var(--white-text);
  margin-left: 10px;
}

.close-btn {
  position: absolute;
  @include flexCenter;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  fill: #000000;
  background-color: var(--white-text);
  cursor: pointer;

  transition: fill var(--speed) var(--duration), box-shadow var(--speed) var(--duration);

  &:hover,
  &:focus {
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    fill: var(--accent);
  }
}

.modal__btn {
  width: 200px;
  height: 50px;
  left: 700px;
  top: 712px;
  display: block;
  align-self: center;

  background-color: var(--accent);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white-text);

  transition: background-color var(--speed) var(--duration);

  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}
