.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: #2f303a;
}

.address {
  margin-top: 20px;
}

.addresss__text {
  color: var(--white-text);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer__container {
  display: flex;
  align-items: baseline;
}

/* GENERAL - FOOTER - CONTACTS */
.footer__contact-link {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  transition: color var(--speed) var(--duration);
  &:hover,
  &:focus {
    color: var(--accent);
  }
}

.footer__contact-list {
  margin-top: 9px;
}

.footer__contact-list .footer__contact-item + .footer__contact-item {
  margin-top: 9px;
}

.footer__contacts {
  margin-right: auto;
}

/* SOCIAL */
.join-social__title,
.subscription__title {
  display: block;
  margin-bottom: 20px;

  color: var(--white-text);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer .container {
  display: flex;
}

.join-social__list {
  display: flex;
  justify-content: center;
}

.join-social__item {
  margin-right: 10px;
  &:last-child {
    margin-right: 0;
  }
}

.join-social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;

  border-radius: 50%;
  color: var(--white-text);
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color var(--speed) var(--duration);

  &:hover,
  &:focus {
    background-color: var(--accent);
    color: var(--white-text);
  }
}

.join-social__icon {
  fill: currentColor;
}

/* SUBSCRIPTION */
.subscription {
  margin-left: 93px;
}

.subscription__input {
  display: flex;
}

.subscription__field {
  padding-left: 16px;
  margin-right: 12px;

  width: 358px;
  height: 50px;
  left: 815px;
  top: 2787px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  color: var(--white-text); /* need to confirm this color - not specified in the instruction */
  border-radius: 4px;
  background-color: transparent;
  outline: none;

  transition: border-color var(--speed) var(--duration);

  &:focus {
    border-color: var(--accent);
  }
}
