.logo {
  display: inline-block;

  color: var(--accent);
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo__text--black {
  color: var(--secondary-text);
}

.logo__text--white {
  color: var(--white-text);
}
