// .header-logo {
//   display: block;
//   margin-right: 93px;

//   color: var(--secondary-text);
//   font-family: var(--logo-font);
//   font-weight: 700;
//   font-size: 26px;
//   line-height: 1.19;
//   letter-spacing: 0.03em;
// }

// .logo-blue {
//   color: var(--accent);
// }

// .footer__logo {
//   display: inline-block;
//   margin-bottom: 20px;

//   font-family: var(--logo-font);
//   color: var(--white-text);
//   font-weight: 700;
//   font-size: 26px;
//   line-height: 1.19;
//   letter-spacing: 0.03em;
// }

.logo {
  display: inline-block;

  color: var(--accent);
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo__black {
  color: var(--secondary-text);
}

.logo__white {
  color: var(--white-text);
}
