.member-social {
  display: flex;
  justify-content: center;
}

.member-social__item {
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }
}

.member-social__link {
  @extend %social;

  color: #afb1b8;

  transition: background-color var(--speed) var(--duration), color var(--speed) var(--duration);

  &:hover,
  &:focus {
    background-color: var(--accent);
    color: var(--white-text);
  }
}

.member-social__icon {
  fill: currentColor;
}

.join-social__title,
.subscription__title {
  display: block;
  margin-bottom: 20px;

  color: var(--white-text);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer .container {
  display: flex;
}

.join-social__list {
  display: flex;
  justify-content: center;
}

.join-social__item {
  margin-right: 10px;
  &:last-child {
    margin-right: 0;
  }
}

.join-social__link {
  @extend %social;

  color: var(--white-text);
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color var(--speed) var(--duration);

  &:hover,
  &:focus {
    background-color: var(--accent);
    color: var(--white-text);
  }
}

.join-social__icon {
  fill: currentColor;
}
