/* GENERAL - HEADER */
.header {
  border-bottom: 1px solid #ececec;
}

.header__container--alignment {
  display: flex;
  align-items: center;
}

/* GENERAL - HEADER - LOGO */
.header-logo {
  display: block;
  margin-right: 93px;

  color: var(--secondary-text);
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-blue {
  color: var(--accent);
}

/* SITE - HEADER - NAVIGATION */
.header-nav-item:not(:last-child) {
  position: relative;
  margin-right: 50px;
}

.header-nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--secondary-text);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color var(--speed) var(--duration);

  &:hover,
  &:focus {
    color: var(--accent);
  }
}

.header-nav-link.current {
  color: var(--accent);

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;

    border-radius: 2px;
    height: 4px;
    background: var(--accent);
  }
}

.header-nav-list {
  display: flex;
}

/* GENERAL - HEADER - CONTACTS */
.header-contact-link {
  display: flex;
  align-items: center;

  color: var(--main-text);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color var(--speed) var(--duration);

  &:hover,
  &:focus {
    color: var(--accent);
  }
}

.header-contact-icon {
  fill: currentColor;
  margin-right: 10px;
}

.header-contact {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header-contact .header-contact-item + .header-contact-item {
  margin-left: 50px;
}

.header-contact-link {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
}
