@mixin flexCenter($type: flex, $cross-axis: center, $main-axis: center) {
  display: $type;
  align-items: $cross-axis;
  justify-content: $main-axis;
}

@mixin logoColor($text-color: var(--accent)) {
  display: inline-block;

  color: $text-color;
  font-family: $fontLogo;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
