:root {
  --main-text: #757575;
  --white-text: #ffffff;
  --secondary-text: #212121;
  --accent: #2196f3;
  --grey-accent: #f5f4fa;
  --section-typ-padding: 94px;
  --duration: cubic-bezier(0.4, 0, 0.2, 1);
  --speed: 250ms;
}

$fontPrimary: Roboto, Helvetica Neue, sans-serif;
$fontLogo: Raleway, sans-serif;
